<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dust.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PKHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E64333A919C3693300BFDD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64333BE19C3693300BFDD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E681C4831A813DA100CAC0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E681C48D1A813DA200CAC0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
